<a href="https://colab.research.google.com/github/mariamandafm/pandas-exercises/blob/main/Notebooks/topic1_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many men and women (sex feature) are represented in this dataset?

In [20]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2. What is the average age (age feature) of women?

In [26]:
data.groupby("sex")["age"].mean()

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

3. What is the percentage of German citizens (native-country feature)?

In [113]:
data["native-country"].value_counts()["Germany"] / len(data.index)

0.004207487485028101

4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [44]:
mean_more_50k = data[data["salary"] == ">50K"]["age"].mean()
sd_more_50k = data[data["salary"] == ">50K"]["age"].std()
mean_less_50k = data[data["salary"] == "<=50K"]["age"].mean()
sd_less_50k = data[data["salary"] == "<=50K"]["age"].std()

print(f"Mean (>50K): {mean_more_50k}")
print(f"SD (>50K): {sd_more_50k}")
print(f"Mean (<=50K): {mean_less_50k}")
print(f"SD (<=50K): {sd_less_50k}")

Mean (>50K): 44.24984058155847
SD (>50K): 10.519027719851826
Mean (<=50K): 36.78373786407767
SD (<=50K): 14.02008849082488

6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [64]:
high_school_education = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]

# pessoas com salario >50K possuem pelomenos o ensino médio
high_school_and_50k = len(data[(data["education"].isin(high_school_education)) & (data["salary"] == ">50K")])

# todas as pessoas que ganham >50K
earn_50k = len(data[data["salary"] == ">50K"])

high_school_and_50k/earn_50k * 100

# Falso, pessoa que possuem ensino médio completo e ganham mais que 50K representam cerca de metade dos que possuem essa renda

57.83701058538452

7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [82]:
race_age = data.groupby("race").describe()["age"]
gender_age = data.groupby("sex").describe()["age"]

max_age_eskimo = data[(data["race"] == "Amer-Indian-Eskimo") & (data["sex"] == "Male")]["age"].max()

print(race_age)
print(gender_age)
print(f"Max age of Amer-Indian-Eskimo: {max_age_eskimo}")

                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0
          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0
Max age of Amer-Indian-Eskimo: 82

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [99]:
men = data[data["sex"] == "Male"]
is_married = men["marital-status"].str.startswith("Married")
men["is_married"] = is_married
pd.crosstab(men["is_married"], men["salary"], margins=True)

# A maioria dos homens que ganham >50K são casados

<ipython-input-99-6592ab9a522a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men["is_married"] = is_married

salary      <=50K  >50K    All
is_married
False        7552   697   8249
True         7576  5965  13541
All         15128  6662  21790

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [117]:
# número maximo de horas que uma pessoa trabalho por semana
max_hours = data["hours-per-week"].max()

# quantas pessoas trabalham essa certa quantidade de horas e quantos destes ganham >50K
workers = data[data["hours-per-week"] == max_hours]
more_50k = workers[workers["salary"] == ">50K"]

print(f"Max hours: {max_hours}")
print(f"Num workers: {len(workers)}")
print(f"Earn >50K: {len(more_50k)/len(workers)*100}%")

Max hours: 99
Num workers: 85
Earn >50K: 29.411764705882355%

10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [112]:
# média do horas de trabalho de quem ganha >50k por pais
earn_more = data[data["salary"] == ">50K"]
earn_more.groupby("native-country")["hours-per-week"].mean()

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64